aiogram==3.23.0
aiohttp==3.13.2
ijson==3.4.0.post0
propcache==0.4.1
psycopg==3.3.2
psycopg-binary==3.3.2
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.1
SQLAlchemy==2.0.45
yandexgptlite==0.1.7
